* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  width: 950px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

h1 {
  background-color: #0F0F0F;
  color: #FFFFFF;
  padding: 30px 0;
}

nav a {
  text-decoration: none;
  background-color: #BBBBBB;
  color: white;
  padding: 16px 10px;
}

main {
  border-top: 8px solid white;
  width: 910px;
  margin: 4px auto;
  /*max-width: 1800px;*/
}

.gallery-head {
  background-color: #42f498;
  padding-left: 10px;
  line-height: 50px;
}

h2 {
  font-weight: normal;
}

.layout {

}

.picpanel {
  width: 33%;
  display: inline-block;
  margin-bottom: 10px;
}

.pic, .options {
  width: 100%;
}

.options {
  background-color: yellow;
  text-align: center;
}

.options p {
  margin: 0;
  padding: 4px 0;
}

footer {
  width: 950px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
}

footer p {
  padding: 10px 0;
  font-size: 14px;
}
