* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

h1 {
  background-color: #0F0F0F;
  color: #FFFFFF;
  padding: 30px 0;
}

/*nav {
  text-align: center;
}*/

nav a {
  text-decoration: none;
  background-color: #EBEBEB;
  color: white;
  padding: 20px 10px;
}

main {
  width: 1250px;
  margin: 4px auto;
  /*max-width: 1800px;*/
}

.gallery-head {
  background-color: green;
  padding-left: 10px;
  line-height: 50px;
}

.layout {

}

.picpanel {
  display: inline-block;
  margin-bottom: 10px;
}

.options {
  background-color: yellow;
  text-align: center;
  /*line-height: 30px;*/
  /*padding: 1px 0;*/
}

.options p {
  margin: 0;
  padding: 4px 0;
}
